In [1]:
import pandas as pd 
import numpy as np 

df = pd.read_csv('data/raw/owid-co2-data.csv')

In [2]:

df_post_1950 = df[df["year"] >= 1950].reset_index(drop=True)

missing_post_1950 = df_post_1950.isna().mean().sort_values(ascending=False)

cols_to_drop = missing_post_1950[missing_post_1950 > 0.5].index.tolist()

df = df_post_1950.drop(columns=cols_to_drop)

In [3]:
df

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_flaring_co2,share_global_luc_co2,share_global_oil_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf
0,Afghanistan,1950,AFG,7776182.0,9.421400e+09,0.000,0.000,0.084,0.070,475.000,...,NaN,0.117,0.004,0.128,0.000,0.000,0.001,0.0,19.447,1.453
1,Afghanistan,1951,AFG,7879343.0,9.692280e+09,0.000,0.000,0.092,0.007,8.696,...,NaN,0.125,0.004,0.128,0.000,0.000,0.001,0.0,20.458,1.473
2,Afghanistan,1952,AFG,7987783.0,1.001733e+10,0.000,0.000,0.092,0.000,0.000,...,NaN,0.140,0.003,0.128,0.000,0.000,0.001,0.0,21.356,1.484
3,Afghanistan,1953,AFG,8096703.0,1.063052e+10,0.000,0.000,0.106,0.015,16.000,...,NaN,0.154,0.004,0.128,0.000,0.000,0.001,0.0,22.361,1.517
4,Afghanistan,1954,AFG,8207953.0,1.086636e+10,0.000,0.000,0.106,0.000,0.000,...,NaN,0.158,0.003,0.128,0.000,0.000,0.001,0.0,23.256,1.534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18759,Zimbabwe,2019,ZWE,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,...,0.0,0.252,0.030,0.106,0.001,0.001,0.002,0.0,34.348,17.531
18760,Zimbabwe,2020,ZWE,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,...,0.0,0.260,0.028,0.105,0.001,0.001,0.002,0.0,31.323,15.775
18761,Zimbabwe,2021,ZWE,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,...,0.0,0.241,0.032,0.104,0.001,0.001,0.002,0.0,33.549,17.599
18762,Zimbabwe,2022,ZWE,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,...,0.0,0.227,0.028,0.103,0.001,0.001,0.002,0.0,33.772,17.910
18763,Zimbabwe,2023,ZWE,16340829.0,NaN,0.531,0.032,11.164,0.739,7.090,...,0.0,0.204,0.028,0.102,0.001,0.001,0.002,0.0,33.955,18.608

In [4]:
df = df[df['iso_code'].str.len() ==3].drop(columns='iso_code')

df

,country,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,...,share_global_flaring_co2,share_global_luc_co2,share_global_oil_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf
0,Afghanistan,1950,7776182.0,9.421400e+09,0.000,0.000,0.084,0.070,475.000,7.316,...,NaN,0.117,0.004,0.128,0.000,0.000,0.001,0.0,19.447,1.453
1,Afghanistan,1951,7879343.0,9.692280e+09,0.000,0.000,0.092,0.007,8.696,8.264,...,NaN,0.125,0.004,0.128,0.000,0.000,0.001,0.0,20.458,1.473
2,Afghanistan,1952,7987783.0,1.001733e+10,0.000,0.000,0.092,0.000,0.000,9.192,...,NaN,0.140,0.003,0.128,0.000,0.000,0.001,0.0,21.356,1.484
3,Afghanistan,1953,8096703.0,1.063052e+10,0.000,0.000,0.106,0.015,16.000,10.269,...,NaN,0.154,0.004,0.128,0.000,0.000,0.001,0.0,22.361,1.517
4,Afghanistan,1954,8207953.0,1.086636e+10,0.000,0.000,0.106,0.000,0.000,11.137,...,NaN,0.158,0.003,0.128,0.000,0.000,0.001,0.0,23.256,1.534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18759,Zimbabwe,2019,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,19.807,...,0.0,0.252,0.030,0.106,0.001,0.001,0.002,0.0,34.348,17.531
18760,Zimbabwe,2020,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,17.430,...,0.0,0.260,0.028,0.105,0.001,0.001,0.002,0.0,31.323,15.775
18761,Zimbabwe,2021,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,18.752,...,0.0,0.241,0.032,0.104,0.001,0.001,0.002,0.0,33.549,17.599
18762,Zimbabwe,2022,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,18.447,...,0.0,0.227,0.028,0.103,0.001,0.001,0.002,0.0,33.772,17.910
18763,Zimbabwe,2023,16340829.0,NaN,0.531,0.032,11.164,0.739,7.090,18.567,...,0.0,0.204,0.028,0.102,0.001,0.001,0.002,0.0,33.955,18.608

In [5]:
numeric_cols = df.columns.drop('country').tolist()
numeric_cols

['year',
 'population',
 'gdp',
 'cement_co2',
 'cement_co2_per_capita',
 'co2',
 'co2_growth_abs',
 'co2_growth_prct',
 'co2_including_luc',
 'co2_including_luc_growth_abs',
 'co2_including_luc_growth_prct',
 'co2_including_luc_per_capita',
 'co2_including_luc_per_gdp',
 'co2_including_luc_per_unit_energy',
 'co2_per_capita',
 'co2_per_gdp',
 'co2_per_unit_energy',
 'coal_co2',
 'coal_co2_per_capita',
 'cumulative_cement_co2',
 'cumulative_co2',
 'cumulative_co2_including_luc',
 'cumulative_coal_co2',
 'cumulative_flaring_co2',
 'cumulative_luc_co2',
 'cumulative_oil_co2',
 'energy_per_capita',
 'flaring_co2',
 'flaring_co2_per_capita',
 'ghg_excluding_lucf_per_capita',
 'ghg_per_capita',
 'land_use_change_co2',
 'land_use_change_co2_per_capita',
 'methane',
 'methane_per_capita',
 'nitrous_oxide',
 'nitrous_oxide_per_capita',
 'oil_co2',
 'oil_co2_per_capita',
 'primary_energy_consumption',
 'share_global_cement_co2',
 'share_global_co2',
 'share_global_co2_including_luc',
 'share_global_coal_co2',
 'share_global_cumulative_cement_co2',
 'share_global_cumulative_co2',
 'share_global_cumulative_co2_including_luc',
 'share_global_cumulative_coal_co2',
 'share_global_cumulative_flaring_co2',
 'share_global_cumulative_luc_co2',
 'share_global_cumulative_oil_co2',
 'share_global_flaring_co2',
 'share_global_luc_co2',
 'share_global_oil_co2',
 'share_of_temperature_change_from_ghg',
 'temperature_change_from_ch4',
 'temperature_change_from_co2',
 'temperature_change_from_ghg',
 'temperature_change_from_n2o',
 'total_ghg',
 'total_ghg_excluding_lucf']

In [6]:
df

,country,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,...,share_global_flaring_co2,share_global_luc_co2,share_global_oil_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf
0,Afghanistan,1950,7776182.0,9.421400e+09,0.000,0.000,0.084,0.070,475.000,7.316,...,NaN,0.117,0.004,0.128,0.000,0.000,0.001,0.0,19.447,1.453
1,Afghanistan,1951,7879343.0,9.692280e+09,0.000,0.000,0.092,0.007,8.696,8.264,...,NaN,0.125,0.004,0.128,0.000,0.000,0.001,0.0,20.458,1.473
2,Afghanistan,1952,7987783.0,1.001733e+10,0.000,0.000,0.092,0.000,0.000,9.192,...,NaN,0.140,0.003,0.128,0.000,0.000,0.001,0.0,21.356,1.484
3,Afghanistan,1953,8096703.0,1.063052e+10,0.000,0.000,0.106,0.015,16.000,10.269,...,NaN,0.154,0.004,0.128,0.000,0.000,0.001,0.0,22.361,1.517
4,Afghanistan,1954,8207953.0,1.086636e+10,0.000,0.000,0.106,0.000,0.000,11.137,...,NaN,0.158,0.003,0.128,0.000,0.000,0.001,0.0,23.256,1.534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18759,Zimbabwe,2019,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,19.807,...,0.0,0.252,0.030,0.106,0.001,0.001,0.002,0.0,34.348,17.531
18760,Zimbabwe,2020,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,17.430,...,0.0,0.260,0.028,0.105,0.001,0.001,0.002,0.0,31.323,15.775
18761,Zimbabwe,2021,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,18.752,...,0.0,0.241,0.032,0.104,0.001,0.001,0.002,0.0,33.549,17.599
18762,Zimbabwe,2022,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,18.447,...,0.0,0.227,0.028,0.103,0.001,0.001,0.002,0.0,33.772,17.910
18763,Zimbabwe,2023,16340829.0,NaN,0.531,0.032,11.164,0.739,7.090,18.567,...,0.0,0.204,0.028,0.102,0.001,0.001,0.002,0.0,33.955,18.608

In [7]:
df = df.sort_values(by=['country', 'year'])
df

,country,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,...,share_global_flaring_co2,share_global_luc_co2,share_global_oil_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf
0,Afghanistan,1950,7776182.0,9.421400e+09,0.000,0.000,0.084,0.070,475.000,7.316,...,NaN,0.117,0.004,0.128,0.000,0.000,0.001,0.0,19.447,1.453
1,Afghanistan,1951,7879343.0,9.692280e+09,0.000,0.000,0.092,0.007,8.696,8.264,...,NaN,0.125,0.004,0.128,0.000,0.000,0.001,0.0,20.458,1.473
2,Afghanistan,1952,7987783.0,1.001733e+10,0.000,0.000,0.092,0.000,0.000,9.192,...,NaN,0.140,0.003,0.128,0.000,0.000,0.001,0.0,21.356,1.484
3,Afghanistan,1953,8096703.0,1.063052e+10,0.000,0.000,0.106,0.015,16.000,10.269,...,NaN,0.154,0.004,0.128,0.000,0.000,0.001,0.0,22.361,1.517
4,Afghanistan,1954,8207953.0,1.086636e+10,0.000,0.000,0.106,0.000,0.000,11.137,...,NaN,0.158,0.003,0.128,0.000,0.000,0.001,0.0,23.256,1.534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18759,Zimbabwe,2019,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,19.807,...,0.0,0.252,0.030,0.106,0.001,0.001,0.002,0.0,34.348,17.531
18760,Zimbabwe,2020,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,17.430,...,0.0,0.260,0.028,0.105,0.001,0.001,0.002,0.0,31.323,15.775
18761,Zimbabwe,2021,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,18.752,...,0.0,0.241,0.032,0.104,0.001,0.001,0.002,0.0,33.549,17.599
18762,Zimbabwe,2022,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,18.447,...,0.0,0.227,0.028,0.103,0.001,0.001,0.002,0.0,33.772,17.910
18763,Zimbabwe,2023,16340829.0,NaN,0.531,0.032,11.164,0.739,7.090,18.567,...,0.0,0.204,0.028,0.102,0.001,0.001,0.002,0.0,33.955,18.608

In [8]:
df[numeric_cols] = df.groupby('country')[numeric_cols].ffill().bfill()

In [9]:
df

,country,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,...,share_global_flaring_co2,share_global_luc_co2,share_global_oil_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf
0,Afghanistan,1950,7776182.0,9.421400e+09,0.000,0.000,0.084,0.070,475.000,7.316,...,0.107,0.117,0.004,0.128,0.000,0.000,0.001,0.0,19.447,1.453
1,Afghanistan,1951,7879343.0,9.692280e+09,0.000,0.000,0.092,0.007,8.696,8.264,...,0.107,0.125,0.004,0.128,0.000,0.000,0.001,0.0,20.458,1.473
2,Afghanistan,1952,7987783.0,1.001733e+10,0.000,0.000,0.092,0.000,0.000,9.192,...,0.107,0.140,0.003,0.128,0.000,0.000,0.001,0.0,21.356,1.484
3,Afghanistan,1953,8096703.0,1.063052e+10,0.000,0.000,0.106,0.015,16.000,10.269,...,0.107,0.154,0.004,0.128,0.000,0.000,0.001,0.0,22.361,1.517
4,Afghanistan,1954,8207953.0,1.086636e+10,0.000,0.000,0.106,0.000,0.000,11.137,...,0.107,0.158,0.003,0.128,0.000,0.000,0.001,0.0,23.256,1.534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18759,Zimbabwe,2019,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,19.807,...,0.000,0.252,0.030,0.106,0.001,0.001,0.002,0.0,34.348,17.531
18760,Zimbabwe,2020,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,17.430,...,0.000,0.260,0.028,0.105,0.001,0.001,0.002,0.0,31.323,15.775
18761,Zimbabwe,2021,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,18.752,...,0.000,0.241,0.032,0.104,0.001,0.001,0.002,0.0,33.549,17.599
18762,Zimbabwe,2022,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,18.447,...,0.000,0.227,0.028,0.103,0.001,0.001,0.002,0.0,33.772,17.910
18763,Zimbabwe,2023,16340829.0,2.590159e+10,0.531,0.032,11.164,0.739,7.090,18.567,...,0.000,0.204,0.028,0.102,0.001,0.001,0.002,0.0,33.955,18.608

In [10]:
df.isna().sum()

country                        0
year                           0
population                     0
gdp                            0
cement_co2                     0
                              ..
temperature_change_from_co2    0
temperature_change_from_ghg    0
temperature_change_from_n2o    0
total_ghg                      0
total_ghg_excluding_lucf       0
Length: 62, dtype: int64

In [11]:
df

,country,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,...,share_global_flaring_co2,share_global_luc_co2,share_global_oil_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf
0,Afghanistan,1950,7776182.0,9.421400e+09,0.000,0.000,0.084,0.070,475.000,7.316,...,0.107,0.117,0.004,0.128,0.000,0.000,0.001,0.0,19.447,1.453
1,Afghanistan,1951,7879343.0,9.692280e+09,0.000,0.000,0.092,0.007,8.696,8.264,...,0.107,0.125,0.004,0.128,0.000,0.000,0.001,0.0,20.458,1.473
2,Afghanistan,1952,7987783.0,1.001733e+10,0.000,0.000,0.092,0.000,0.000,9.192,...,0.107,0.140,0.003,0.128,0.000,0.000,0.001,0.0,21.356,1.484
3,Afghanistan,1953,8096703.0,1.063052e+10,0.000,0.000,0.106,0.015,16.000,10.269,...,0.107,0.154,0.004,0.128,0.000,0.000,0.001,0.0,22.361,1.517
4,Afghanistan,1954,8207953.0,1.086636e+10,0.000,0.000,0.106,0.000,0.000,11.137,...,0.107,0.158,0.003,0.128,0.000,0.000,0.001,0.0,23.256,1.534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18759,Zimbabwe,2019,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,19.807,...,0.000,0.252,0.030,0.106,0.001,0.001,0.002,0.0,34.348,17.531
18760,Zimbabwe,2020,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,17.430,...,0.000,0.260,0.028,0.105,0.001,0.001,0.002,0.0,31.323,15.775
18761,Zimbabwe,2021,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,18.752,...,0.000,0.241,0.032,0.104,0.001,0.001,0.002,0.0,33.549,17.599
18762,Zimbabwe,2022,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,18.447,...,0.000,0.227,0.028,0.103,0.001,0.001,0.002,0.0,33.772,17.910
18763,Zimbabwe,2023,16340829.0,2.590159e+10,0.531,0.032,11.164,0.739,7.090,18.567,...,0.000,0.204,0.028,0.102,0.001,0.001,0.002,0.0,33.955,18.608

In [12]:
df.to_csv('clean_raw.csv', index=False)

In [13]:
cols = ['year', 'population', 'gdp', 'cement_co2_per_capita', 'co2',
       'co2_growth_abs', 'co2_including_luc_growth_abs',
       'co2_including_luc_per_capita', 'co2_including_luc_per_gdp',
       'co2_including_luc_per_unit_energy', 'co2_per_capita', 'co2_per_gdp',
       'co2_per_unit_energy', 'coal_co2_per_capita',
       'energy_per_capita', 'flaring_co2_per_capita',
       'ghg_excluding_lucf_per_capita', 'ghg_per_capita',
       'land_use_change_co2_per_capita', 'methane_per_capita',
       'nitrous_oxide_per_capita', 'oil_co2_per_capita',
       'primary_energy_consumption',
       'temperature_change_from_co2', 'temperature_change_from_ghg',
       'temperature_change_from_n2o', 'total_ghg', 'total_ghg_excluding_lucf']
final_df = df[cols]
final_df

,year,population,gdp,cement_co2_per_capita,co2,co2_growth_abs,co2_including_luc_growth_abs,co2_including_luc_per_capita,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,...,land_use_change_co2_per_capita,methane_per_capita,nitrous_oxide_per_capita,oil_co2_per_capita,primary_energy_consumption,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf
0,1950,7776182.0,9.421400e+09,0.000,0.084,0.070,1.066,0.941,0.777,0.557,...,0.930,1.042,0.288,0.008,7.791,0.000,0.001,0.0,19.447,1.453
1,1951,7879343.0,9.692280e+09,0.000,0.092,0.007,0.948,1.049,0.853,0.557,...,1.037,1.045,0.292,0.008,7.791,0.000,0.001,0.0,20.458,1.473
2,1952,7987783.0,1.001733e+10,0.000,0.092,0.000,0.928,1.151,0.918,0.557,...,1.139,1.048,0.297,0.007,7.791,0.000,0.001,0.0,21.356,1.484
3,1953,8096703.0,1.063052e+10,0.000,0.106,0.015,1.077,1.268,0.966,0.557,...,1.255,1.053,0.303,0.008,7.791,0.000,0.001,0.0,22.361,1.517
4,1954,8207953.0,1.086636e+10,0.000,0.106,0.000,0.869,1.357,1.025,0.557,...,1.344,1.059,0.310,0.008,7.791,0.000,0.001,0.0,23.256,1.534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18759,2019,15271377.0,2.514642e+10,0.031,10.263,-0.942,-1.695,1.297,0.788,0.429,...,0.625,0.848,0.334,0.247,46.120,0.001,0.002,0.0,34.348,17.531
18760,2020,15526888.0,2.317871e+10,0.032,8.495,-1.768,-2.377,1.123,0.752,0.415,...,0.576,0.814,0.295,0.197,41.997,0.001,0.002,0.0,31.323,15.775
18761,2021,15797220.0,2.514009e+10,0.034,10.204,1.709,1.322,1.187,0.746,0.445,...,0.541,0.826,0.308,0.236,42.145,0.001,0.002,0.0,33.549,17.599
18762,2022,16069061.0,2.590159e+10,0.033,10.425,0.221,-0.305,1.148,0.712,0.445,...,0.499,0.806,0.302,0.210,42.145,0.001,0.002,0.0,33.772,17.910
18763,2023,16340829.0,2.590159e+10,0.032,11.164,0.739,0.120,1.136,0.712,0.445,...,0.453,0.782,0.285,0.206,42.145,0.001,0.002,0.0,33.955,18.608

In [14]:
# final_df.to_csv('clean.csv', index=False)

In [15]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import pandas as pd

X = final_df.drop(columns=['co2'])  # replace 'target_column' with your actual target name
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
print(vif_data)

                              feature         VIF
0                                year    0.000469
1                          population    3.939696
2                                 gdp   11.506325
3               cement_co2_per_capita    1.606336
4                      co2_growth_abs    2.085895
5        co2_including_luc_growth_abs    1.450040
6        co2_including_luc_per_capita   35.554717
7           co2_including_luc_per_gdp    1.842379
8   co2_including_luc_per_unit_energy    2.219288
9                      co2_per_capita   80.516453
10                        co2_per_gdp    2.367432
11                co2_per_unit_energy    1.628359
12                coal_co2_per_capita    1.661346
13                  energy_per_capita    2.808645
14             flaring_co2_per_capita    1.781119
15      ghg_excluding_lucf_per_capita   49.279503
16                     ghg_per_capita   17.234844
17     land_use_change_co2_per_capita   25.633652
18                 methane_per_capita   15.015418
19           nitrous_oxide_per_capita    2.163651
20                 oil_co2_per_capita   71.676059
21         primary_energy_consumption   57.130947
22        temperature_change_from_co2  235.477788
23        temperature_change_from_ghg  293.533353
24        temperature_change_from_n2o   12.030844
25                          total_ghg   41.771265
26           total_ghg_excluding_lucf   68.227763

In [16]:
vif_data = vif_data[vif_data['VIF']<15].reset_index(drop=True)

In [17]:
features = vif_data['feature'].tolist()
final_clean_df = df[features+['country']+['co2']]

In [18]:
final_clean_df.to_csv('final_clean_df.csv', index=False)

In [19]:
test_df = final_clean_df[final_clean_df['country'] == "Thailand"]

In [20]:
test_df

,year,population,gdp,cement_co2_per_capita,co2_growth_abs,co2_including_luc_growth_abs,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_gdp,co2_per_unit_energy,coal_co2_per_capita,energy_per_capita,flaring_co2_per_capita,nitrous_oxide_per_capita,temperature_change_from_n2o,country,co2
16840,1950,20428403.0,2.609420e+10,0.004,0.894,-2.338,8.579,8.235,0.037,0.242,0.002,992.445,0.003,0.288,0.000,Thailand,0.956
16841,1951,20965189.0,2.794396e+10,0.007,0.135,0.458,8.028,8.235,0.039,0.242,0.002,992.445,0.003,0.282,0.000,Thailand,1.091
16842,1952,21527581.0,2.948582e+10,0.006,0.187,7.960,7.878,8.235,0.043,0.242,0.003,992.445,0.003,0.277,0.000,Thailand,1.278
16843,1953,22109322.0,3.272660e+10,0.006,0.366,4.407,7.233,8.235,0.050,0.242,0.004,992.445,0.003,0.272,0.000,Thailand,1.644
16844,1954,22713342.0,3.246220e+10,0.008,0.406,6.434,7.490,8.235,0.063,0.242,0.009,992.445,0.003,0.268,0.000,Thailand,2.050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16909,2019,71522265.0,1.149131e+12,0.312,-6.427,-8.991,0.278,0.216,0.245,0.190,0.980,20751.527,0.008,0.330,0.001,Thailand,281.877
16910,2020,71641484.0,1.078333e+12,0.306,-9.954,-11.755,0.285,0.223,0.252,0.198,1.044,19247.928,0.008,0.341,0.001,Thailand,271.923
16911,2021,71727340.0,1.095187e+12,0.295,-4.781,-5.507,0.276,0.218,0.244,0.193,1.069,19368.557,0.007,0.337,0.001,Thailand,267.142
16912,2022,71735320.0,1.124144e+12,0.293,5.432,4.502,0.273,0.221,0.242,0.196,0.973,19357.754,0.006,0.339,0.001,Thailand,272.573
16913,2023,71702438.0,1.124144e+12,0.268,-8.185,-8.996,0.273,0.214,0.242,0.190,0.827,19370.299,0.006,0.339,0.001,Thailand,264.389

In [21]:
asean_countries = [
    "Brunei", "Cambodia", "Indonesia", "Laos", "Malaysia", 
    "Myanmar", "Philippines", "Singapore", "Vietnam"
]

asean_df = final_clean_df[final_clean_df['country'].isin(asean_countries)]

asean_df

,year,population,gdp,cement_co2_per_capita,co2_growth_abs,co2_including_luc_growth_abs,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_gdp,co2_per_unit_energy,coal_co2_per_capita,energy_per_capita,flaring_co2_per_capita,nitrous_oxide_per_capita,temperature_change_from_n2o,country,co2
2590,1950,48315.0,1.908332e+10,0.000,-11.054,-11.010,1.176,0.327,0.393,0.285,0.000,128381.539,56.414,0.549,0.0,Brunei,0.414
2591,1951,51211.0,1.908332e+10,0.000,-0.114,-0.234,1.176,0.327,0.393,0.285,0.000,128381.539,56.414,0.522,0.0,Brunei,0.300
2592,1952,54252.0,1.908332e+10,0.000,0.022,0.263,1.176,0.327,0.393,0.285,0.000,128381.539,56.414,0.497,0.0,Brunei,0.322
2593,1953,57582.0,1.908332e+10,0.000,0.022,0.138,1.176,0.327,0.393,0.285,0.000,128381.539,56.414,0.472,0.0,Brunei,0.344
2594,1954,61226.0,1.908332e+10,0.000,0.015,0.177,1.176,0.327,0.393,0.285,0.000,128381.539,56.414,0.449,0.0,Brunei,0.359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18389,2019,97173778.0,7.316531e+11,0.582,83.828,73.241,0.605,0.368,0.464,0.282,1.970,12556.660,0.015,0.258,0.0,Vietnam,339.147
18390,2020,98079196.0,7.526296e+11,0.612,23.313,18.104,0.612,0.382,0.482,0.301,2.200,12461.562,0.013,0.258,0.0,Vietnam,362.460
18391,2021,98935101.0,7.719120e+11,0.627,-48.487,-47.203,0.536,0.342,0.407,0.260,1.743,12399.490,0.010,0.260,0.0,Vietnam,313.973
18392,2022,99680656.0,8.338038e+11,0.562,-16.339,-17.640,0.475,0.318,0.357,0.239,1.577,12670.408,0.011,0.252,0.0,Vietnam,297.634
18393,2023,100352189.0,8.338038e+11,0.511,37.092,34.833,0.475,0.317,0.357,0.246,1.914,13744.149,0.013,0.256,0.0,Vietnam,334.726

In [22]:
global_df = final_clean_df[~final_clean_df['country'].isin(asean_countries + ["Thailand"])]

global_df

,year,population,gdp,cement_co2_per_capita,co2_growth_abs,co2_including_luc_growth_abs,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_gdp,co2_per_unit_energy,coal_co2_per_capita,energy_per_capita,flaring_co2_per_capita,nitrous_oxide_per_capita,temperature_change_from_n2o,country,co2
0,1950,7776182.0,9.421400e+09,0.000,0.070,1.066,0.777,0.557,0.009,0.225,0.003,623.929,0.026,0.288,0.0,Afghanistan,0.084
1,1951,7879343.0,9.692280e+09,0.000,0.007,0.948,0.853,0.557,0.009,0.225,0.003,623.929,0.026,0.292,0.0,Afghanistan,0.092
2,1952,7987783.0,1.001733e+10,0.000,0.000,0.928,0.918,0.557,0.009,0.225,0.004,623.929,0.026,0.297,0.0,Afghanistan,0.092
3,1953,8096703.0,1.063052e+10,0.000,0.015,1.077,0.966,0.557,0.010,0.225,0.005,623.929,0.026,0.303,0.0,Afghanistan,0.106
4,1954,8207953.0,1.086636e+10,0.000,0.000,0.869,1.025,0.557,0.010,0.225,0.005,623.929,0.026,0.310,0.0,Afghanistan,0.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18759,2019,15271377.0,2.514642e+10,0.031,-0.942,-1.695,0.788,0.429,0.408,0.223,0.394,3003.655,0.000,0.334,0.0,Zimbabwe,10.263
18760,2020,15526888.0,2.317871e+10,0.032,-1.768,-2.377,0.752,0.415,0.366,0.202,0.318,2680.132,0.000,0.295,0.0,Zimbabwe,8.495
18761,2021,15797220.0,2.514009e+10,0.034,1.709,1.322,0.746,0.445,0.406,0.242,0.376,2635.154,0.000,0.308,0.0,Zimbabwe,10.204
18762,2022,16069061.0,2.590159e+10,0.033,0.221,-0.305,0.712,0.445,0.402,0.242,0.405,2635.154,0.000,0.302,0.0,Zimbabwe,10.425
18763,2023,16340829.0,2.590159e+10,0.032,0.739,0.120,0.712,0.445,0.402,0.242,0.445,2635.154,0.000,0.285,0.0,Zimbabwe,11.164

In [23]:
from sklearn.model_selection import train_test_split

asean_train_df, asean_val_df = train_test_split(
    asean_df, 
    test_size=0.4, 
    random_state=42, 
    stratify=asean_df['country']
)

In [24]:
train_df = pd.concat([global_df, asean_train_df], ignore_index=True)
train_df

,year,population,gdp,cement_co2_per_capita,co2_growth_abs,co2_including_luc_growth_abs,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_gdp,co2_per_unit_energy,coal_co2_per_capita,energy_per_capita,flaring_co2_per_capita,nitrous_oxide_per_capita,temperature_change_from_n2o,country,co2
0,1950,7776182.0,9.421400e+09,0.000,0.070,1.066,0.777,0.557,0.009,0.225,0.003,623.929,0.026,0.288,0.0,Afghanistan,0.084
1,1951,7879343.0,9.692280e+09,0.000,0.007,0.948,0.853,0.557,0.009,0.225,0.003,623.929,0.026,0.292,0.0,Afghanistan,0.092
2,1952,7987783.0,1.001733e+10,0.000,0.000,0.928,0.918,0.557,0.009,0.225,0.004,623.929,0.026,0.297,0.0,Afghanistan,0.092
3,1953,8096703.0,1.063052e+10,0.000,0.015,1.077,0.966,0.557,0.010,0.225,0.005,623.929,0.026,0.303,0.0,Afghanistan,0.106
4,1954,8207953.0,1.086636e+10,0.000,0.000,0.869,1.025,0.557,0.010,0.225,0.005,623.929,0.026,0.310,0.0,Afghanistan,0.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15786,2016,94000115.0,5.930066e+11,0.392,7.669,-47.020,0.637,0.420,0.373,0.246,1.137,9651.152,0.017,0.249,0.0,Vietnam,220.980
15787,1980,186121.0,1.908332e+10,0.000,-0.557,-0.290,1.176,0.327,0.393,0.285,0.020,128381.539,17.718,0.240,0.0,Brunei,6.877
15788,1983,3541005.0,4.484085e+09,0.000,0.022,0.671,4.188,5.954,0.040,0.057,0.000,889.898,0.000,0.333,0.0,Laos,0.180
15789,1985,218928.0,1.908332e+10,0.000,0.678,1.509,1.176,0.197,0.393,0.115,0.000,101527.688,0.619,0.233,0.0,Brunei,2.594
15790,1976,43201484.0,1.563200e+11,0.051,2.584,23.632,2.284,2.774,0.224,0.272,0.004,2960.795,0.001,0.143,0.0,Philippines,35.066

In [25]:
val_df = asean_val_df.reset_index(drop=True)
val_df

,year,population,gdp,cement_co2_per_capita,co2_growth_abs,co2_including_luc_growth_abs,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_gdp,co2_per_unit_energy,coal_co2_per_capita,energy_per_capita,flaring_co2_per_capita,nitrous_oxide_per_capita,temperature_change_from_n2o,country,co2
0,1962,1721183.0,6.607005e+09,0.000,0.421,0.435,0.348,0.048,0.380,0.051,0.017,25737.217,0.000,1.363,0.000,Singapore,2.513
1,1971,137930.0,1.908332e+10,0.000,-0.692,-0.779,1.176,0.327,0.393,0.285,0.000,128381.539,49.941,0.275,0.000,Brunei,7.511
2,1971,27807214.0,2.893165e+10,0.004,0.487,-116.016,8.865,3.575,0.176,0.272,0.022,605.126,0.012,0.240,0.000,Myanmar,5.099
3,2009,384964.0,1.908332e+10,0.000,-1.421,-0.989,1.176,0.252,0.393,0.208,0.000,95420.391,1.025,0.298,0.000,Brunei,7.745
4,2007,48125046.0,1.741234e+11,0.005,0.028,3.686,1.094,2.385,0.074,0.161,0.017,1648.792,0.001,0.308,0.000,Myanmar,12.841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2022,455374.0,1.908332e+10,0.000,-0.358,-0.373,1.176,0.271,0.393,0.255,6.274,103268.102,0.376,0.315,0.000,Brunei,11.354
263,1977,169287.0,1.908332e+10,0.000,0.370,0.451,1.176,0.327,0.393,0.285,0.000,128381.539,24.558,0.222,0.000,Brunei,6.390
264,1993,193305171.0,9.127027e+11,0.056,15.690,-158.099,0.721,0.862,0.236,0.282,0.110,3983.798,0.065,0.211,0.001,Indonesia,215.109
265,1986,56645081.0,1.870868e+11,0.028,1.126,-11.673,0.524,0.714,0.155,0.211,0.052,2447.699,0.001,0.137,0.000,Philippines,29.025
266,1954,27427908.0,3.175410e+10,0.005,0.920,14.630,2.418,1.983,0.084,0.446,0.051,786.177,0.000,0.131,0.000,Vietnam,2.670

In [26]:
test_df = test_df.reset_index(drop=True)
test_df

,year,population,gdp,cement_co2_per_capita,co2_growth_abs,co2_including_luc_growth_abs,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_gdp,co2_per_unit_energy,coal_co2_per_capita,energy_per_capita,flaring_co2_per_capita,nitrous_oxide_per_capita,temperature_change_from_n2o,country,co2
0,1950,20428403.0,2.609420e+10,0.004,0.894,-2.338,8.579,8.235,0.037,0.242,0.002,992.445,0.003,0.288,0.000,Thailand,0.956
1,1951,20965189.0,2.794396e+10,0.007,0.135,0.458,8.028,8.235,0.039,0.242,0.002,992.445,0.003,0.282,0.000,Thailand,1.091
2,1952,21527581.0,2.948582e+10,0.006,0.187,7.960,7.878,8.235,0.043,0.242,0.003,992.445,0.003,0.277,0.000,Thailand,1.278
3,1953,22109322.0,3.272660e+10,0.006,0.366,4.407,7.233,8.235,0.050,0.242,0.004,992.445,0.003,0.272,0.000,Thailand,1.644
4,1954,22713342.0,3.246220e+10,0.008,0.406,6.434,7.490,8.235,0.063,0.242,0.009,992.445,0.003,0.268,0.000,Thailand,2.050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2019,71522265.0,1.149131e+12,0.312,-6.427,-8.991,0.278,0.216,0.245,0.190,0.980,20751.527,0.008,0.330,0.001,Thailand,281.877
70,2020,71641484.0,1.078333e+12,0.306,-9.954,-11.755,0.285,0.223,0.252,0.198,1.044,19247.928,0.008,0.341,0.001,Thailand,271.923
71,2021,71727340.0,1.095187e+12,0.295,-4.781,-5.507,0.276,0.218,0.244,0.193,1.069,19368.557,0.007,0.337,0.001,Thailand,267.142
72,2022,71735320.0,1.124144e+12,0.293,5.432,4.502,0.273,0.221,0.242,0.196,0.973,19357.754,0.006,0.339,0.001,Thailand,272.573
73,2023,71702438.0,1.124144e+12,0.268,-8.185,-8.996,0.273,0.214,0.242,0.190,0.827,19370.299,0.006,0.339,0.001,Thailand,264.389

In [27]:
train_df.to_csv('train_clean.csv', index=False)
test_df.to_csv('test_clean.csv', index=False)
val_df.to_csv('val_clean.csv', index=False)