In [1]:
import pandas as pd 
import numpy as np 

train_df = pd.read_csv('train_clean.csv')
test_df = pd.read_csv('test_clean.csv')
val_df = pd.read_csv('val_clean.csv')

In [2]:
train_df.isna().sum()

year                                 0
population                           0
gdp                                  0
cement_co2_per_capita                0
co2_growth_abs                       0
co2_including_luc_growth_abs         0
co2_including_luc_per_gdp            0
co2_including_luc_per_unit_energy    0
co2_per_gdp                          0
co2_per_unit_energy                  0
coal_co2_per_capita                  0
energy_per_capita                    0
flaring_co2_per_capita               0
nitrous_oxide_per_capita             0
temperature_change_from_n2o          0
country                              0
co2                                  0
dtype: int64

In [3]:
test_df.isna().sum()

year                                 0
population                           0
gdp                                  0
cement_co2_per_capita                0
co2_growth_abs                       0
co2_including_luc_growth_abs         0
co2_including_luc_per_gdp            0
co2_including_luc_per_unit_energy    0
co2_per_gdp                          0
co2_per_unit_energy                  0
coal_co2_per_capita                  0
energy_per_capita                    0
flaring_co2_per_capita               0
nitrous_oxide_per_capita             0
temperature_change_from_n2o          0
country                              0
co2                                  0
dtype: int64

In [4]:
val_df.isna().sum()

year                                 0
population                           0
gdp                                  0
cement_co2_per_capita                0
co2_growth_abs                       0
co2_including_luc_growth_abs         0
co2_including_luc_per_gdp            0
co2_including_luc_per_unit_energy    0
co2_per_gdp                          0
co2_per_unit_energy                  0
coal_co2_per_capita                  0
energy_per_capita                    0
flaring_co2_per_capita               0
nitrous_oxide_per_capita             0
temperature_change_from_n2o          0
country                              0
co2                                  0
dtype: int64

In [5]:
train_df

,year,population,gdp,cement_co2_per_capita,co2_growth_abs,co2_including_luc_growth_abs,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_gdp,co2_per_unit_energy,coal_co2_per_capita,energy_per_capita,flaring_co2_per_capita,nitrous_oxide_per_capita,temperature_change_from_n2o,country,co2
0,1950,7776182.0,9.421400e+09,0.000,0.070,1.066,0.777,0.557,0.009,0.225,0.003,623.929,0.026,0.288,0.0,Afghanistan,0.084
1,1951,7879343.0,9.692280e+09,0.000,0.007,0.948,0.853,0.557,0.009,0.225,0.003,623.929,0.026,0.292,0.0,Afghanistan,0.092
2,1952,7987783.0,1.001733e+10,0.000,0.000,0.928,0.918,0.557,0.009,0.225,0.004,623.929,0.026,0.297,0.0,Afghanistan,0.092
3,1953,8096703.0,1.063052e+10,0.000,0.015,1.077,0.966,0.557,0.010,0.225,0.005,623.929,0.026,0.303,0.0,Afghanistan,0.106
4,1954,8207953.0,1.086636e+10,0.000,0.000,0.869,1.025,0.557,0.010,0.225,0.005,623.929,0.026,0.310,0.0,Afghanistan,0.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15786,2016,94000115.0,5.930066e+11,0.392,7.669,-47.020,0.637,0.420,0.373,0.246,1.137,9651.152,0.017,0.249,0.0,Vietnam,220.980
15787,1980,186121.0,1.908332e+10,0.000,-0.557,-0.290,1.176,0.327,0.393,0.285,0.020,128381.539,17.718,0.240,0.0,Brunei,6.877
15788,1983,3541005.0,4.484085e+09,0.000,0.022,0.671,4.188,5.954,0.040,0.057,0.000,889.898,0.000,0.333,0.0,Laos,0.180
15789,1985,218928.0,1.908332e+10,0.000,0.678,1.509,1.176,0.197,0.393,0.115,0.000,101527.688,0.619,0.233,0.0,Brunei,2.594
15790,1976,43201484.0,1.563200e+11,0.051,2.584,23.632,2.284,2.774,0.224,0.272,0.004,2960.795,0.001,0.143,0.0,Philippines,35.066

In [6]:
feature_cols = train_df.columns.drop(['co2','country'])
feature_cols

Index(['year', 'population', 'gdp', 'cement_co2_per_capita', 'co2_growth_abs',
       'co2_including_luc_growth_abs', 'co2_including_luc_per_gdp',
       'co2_including_luc_per_unit_energy', 'co2_per_gdp',
       'co2_per_unit_energy', 'coal_co2_per_capita', 'energy_per_capita',
       'flaring_co2_per_capita', 'nitrous_oxide_per_capita',
       'temperature_change_from_n2o'],
      dtype='object')

In [7]:
target_col = ['co2']

In [8]:
log_transform_cols = [
    'population', 'gdp']

for col in log_transform_cols:
    train_df[col] = np.log1p(train_df[col])
    val_df[col] = np.log1p(val_df[col])
    test_df[col] = np.log1p(test_df[col])

In [9]:
X_train = train_df[feature_cols]
y_train = train_df[target_col]

X_val = val_df[feature_cols]
y_val = val_df[target_col]

X_test = test_df[feature_cols]
y_test = test_df[target_col]

In [10]:
X_train.isna().sum()

year                                 0
population                           0
gdp                                  0
cement_co2_per_capita                0
co2_growth_abs                       0
co2_including_luc_growth_abs         0
co2_including_luc_per_gdp            0
co2_including_luc_per_unit_energy    0
co2_per_gdp                          0
co2_per_unit_energy                  0
coal_co2_per_capita                  0
energy_per_capita                    0
flaring_co2_per_capita               0
nitrous_oxide_per_capita             0
temperature_change_from_n2o          0
dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler

feature_scaler = StandardScaler()
# target_scaler = StandardScaler()

X_train_scaled = feature_scaler.fit_transform(X_train)
X_val_scaled = feature_scaler.transform(X_val)
X_test_scaled = feature_scaler.transform(X_test)

# y_train_scaled = target_scaler.fit_transform(y_train)
# y_val_scaled = target_scaler.transform(y_val)
# y_test_scaled = target_scaler.transform(y_test)

In [ ]:
import joblib

joblib.dump(feature_scaler, 'feature_scaler.pkl')
# joblib.dump(target_scaler, 'target_scaler.pkl')

['target_scaler.pkl']

In [ ]:
X_train_scaled

101.60218106182855

In [ ]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import numpy as np

# === Train XGBoost ===
xgb_model = XGBRegressor(
    n_estimators=100,
    learning_rate=0.1,
    max_depth=5,
    random_state=42
)

xgb_model.fit(X_train_scaled, y_train.to_numpy().ravel())  

# === Predict on Validation Set ===
y_pred = xgb_model.predict(X_val_scaled)

# # === Inverse Transform: scaled → log → real-world CO₂ ===
# y_val_pred_log = target_scaler.inverse_transform(y_val_pred_scaled.reshape(-1, 1))
# y_val_pred_real = np.expm1(y_val_pred_log)

# # === Prepare Ground Truth for Comparison ===
# y_val_log = target_scaler.inverse_transform(y_val)
# y_val_real = np.expm1(y_val_log)

# === Evaluation Metrics ===
mse = mean_squared_error(y_val, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_val, y_pred)
r2 = r2_score(y_val, y_pred)

print(f"XGBoost Validation Performance:")
print(f"• MSE  = {mse:.2f}")
print(f"• RMSE = {rmse:.2f}")
print(f"• MAE  = {mae:.2f}")
print(f"• R²   = {r2:.4f}")

XGBoost Validation Performance:
• MSE  = 36328698.95
• RMSE = 6027.33
• MAE  = 6.33
• R²   = 0.9895