### Define which part you are developing

- EDA for electricity dataset
- Testing ARMIA model
- Developing LinearRegression model etc.

# Fossil Fuel & Renewable Energy Generation (TWh)

In [31]:
# Features to Extract:

# Natural Gas Power Generation (TWh)
# Coal Power Generation (TWh)
# Oil Power Generation (TWh)
# Hydro, Wind, Solar, Biofuels Power Generation (TWh)
# Total Electricity Generation (TWh)
# Electricity Imports (TWh)

In [2]:
import pandas as pd

In [4]:
ff_df = pd.read_csv('../data/raw/Generation by fuel-Thailand.csv')

In [32]:
ff_df

,generation,industry,timestamp,unit,region,2000,2001,2002,2003,2004,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Thailand,Hydro,Power Sector,2024-05-07 16:40:35.303458,TWh,5.89,6.17,7.37,7.21,5.90,...,5.41,5.16,3.76,3.54,4.69,7.60,6.31,4.54,4.54,6.60
1,Thailand,Wind,Power Sector,2024-05-07 16:40:35.303458,TWh,0.00,0.00,0.00,0.00,0.00,...,0.35,0.40,0.33,0.38,1.11,1.64,3.67,3.22,3.53,3.42
2,Thailand,Biofuels and waste,Power Sector,2024-05-07 16:40:35.303458,TWh,0.53,0.62,0.75,1.23,1.84,...,5.63,6.72,7.34,8.60,9.29,11.74,12.59,12.29,13.41,13.56
3,Thailand,Natural Gas,Power Sector,2024-05-07 16:40:35.303458,TWh,61.09,71.23,78.91,85.69,90.29,...,119.22,120.31,128.52,126.15,121.04,116.26,121.84,113.86,113.11,114.64
4,Thailand,Coal,Power Sector,2024-05-07 16:40:35.303458,TWh,18.20,20.30,19.29,19.30,20.40,...,35.35,37.57,34.58,37.11,35.73,35.80,35.83,36.82,36.06,35.52
5,Thailand,Solar,Power Sector,2024-05-07 16:40:35.303458,TWh,0.00,0.00,0.00,0.00,0.00,...,1.26,1.93,2.38,3.55,4.54,4.54,5.15,5.03,4.99,4.88
6,Thailand,Electricity imports,Power Sector,2024-05-07 16:40:35.303458,TWh,2.82,2.71,2.62,2.27,3.12,...,11.29,10.19,12.15,18.39,23.32,25.58,22.66,26.93,31.39,32.20

#  CO₂ Emissions from Power Generation (MtCO₂)

Total CO₂ Emissions from Power Generation (MtCO₂) ✅ (Target Variable)

In [44]:
co2_emissions_powergeneration_df = pd.read_csv('../data/raw/Power emissions by fuel-Thailand.csv')

In [45]:
co2_emissions_powergeneration_df.head()

,generation,industry,timestamp,unit,region,2000,2001,2002,2003,2004,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Thailand,Natural Gas,Power Sector,2024-05-08 17:47:59.510116,MtCO2,34.95,40.75,45.14,49.02,51.65,...,68.82,73.52,72.16,69.24,66.51,69.70,65.13,64.70,65.58,74.02
1,Thailand,Hydro,Power Sector,2024-05-08 17:47:59.510116,MtCO2,0.14,0.15,0.18,0.17,0.14,...,0.12,0.09,0.08,0.11,0.18,0.15,0.11,0.11,0.16,0.16
2,Thailand,Coal,Power Sector,2024-05-08 17:47:59.510116,MtCO2,16.47,18.36,17.45,17.46,18.45,...,33.06,30.43,32.66,31.44,31.50,31.42,32.19,31.52,31.05,26.61
3,Thailand,Biofuels and waste,Power Sector,2024-05-08 17:47:59.510116,MtCO2,0.11,0.13,0.16,0.27,0.40,...,1.45,1.59,1.86,2.01,2.54,2.72,2.66,2.90,2.93,3.02
4,Thailand,Wind,Power Sector,2024-05-08 17:47:59.510116,MtCO2,0.00,0.00,0.00,0.00,0.00,...,0.01,0.00,0.00,0.01,0.02,0.05,0.04,0.04,0.04,0.05

# Grid Emission Factor (tCO₂/MWh)

In [9]:
ge_df = pd.read_csv('../data/raw/Emission Intensity of Power Generation-Thailand.csv')

In [12]:
ge_df.head()

,generation,industry,timestamp,unit,region,2000,2001,2002,2003,2004,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Thailand,Grid emission factor,Power Sector,2024-05-10 12:25:03.480602,tCO2_MWh,0.608,0.606,0.593,0.591,0.599,...,0.602,0.598,0.596,0.584,0.569,0.563,0.571,0.567,0.561,0.55

# Global & Regional Energy Trends

In [24]:
energy_trends_df = pd.read_csv("../data/raw/emberChartData.csv", sep=";", skiprows=1)

In [34]:
energy_trends_df

    country_or_region  year        variable  generation_twh
0            Thailand  2000       Bioenergy            0.53
1            Thailand  2000           Clean            6.42
2            Thailand  2000            Coal           18.20
3            Thailand  2000          Fossil           89.10
4            Thailand  2000             Gas           61.09
..                ...   ...             ...             ...
235          Thailand  2023           Hydro            6.59
236          Thailand  2023    Other Fossil            0.89
237          Thailand  2023           Solar            5.42
238          Thailand  2023            Wind            3.61
239          Thailand  2023  Wind and solar            9.03

[240 rows x 4 columns]

# Deforestation & Land Use (Related to Bioenergy)

Annual Tree Cover Loss (ha) → Impacts biofuels and carbon absorption.

In [26]:
deforestation_df = pd.read_csv('../data/raw/treecover_loss__ha.csv')

In [33]:
deforestation_df

,iso,umd_tree_cover_loss__year,umd_tree_cover_loss__ha,gfw_gross_emissions_co2e_all_gases__Mg
0,THA,2001,36101.943587,1.836831e+07
1,THA,2002,60882.189737,3.119673e+07
2,THA,2003,58447.942201,2.984648e+07
3,THA,2004,91835.294338,4.718033e+07
4,THA,2005,84287.060043,4.508730e+07
5,THA,2006,99820.579633,5.214129e+07
6,THA,2007,92628.558641,4.877112e+07
7,THA,2008,80143.317979,4.341977e+07
8,THA,2009,132690.267032,7.236850e+07
9,THA,2010,134984.309304,7.490822e+07
10,THA,2011,94544.693780,5.146751e+07
11,THA,2012,114508.120735,6.128993e+07
12,THA,2013,84754.412461,4.872066e+07
13,THA,2014,137614.633742,8.140516e+07
14,THA,2015,120807.656031,7.206592e+07
15,THA,2016,171638.615469,1.026405e+08
16,THA,2017,196456.506277,1.235398e+08
17,THA,2018,133532.581042,8.563661e+07
18,THA,2019,129794.031696,8.141176e+07
19,THA,2020,119414.186207,7.650498e+07
20,THA,2021,122815.811536,8.795667e+07
21,THA,2022,110663.323335,8.190939e+07
22,THA,2023,141873.812476,1.064535e+08

# Thailand CO2 emission (world data bank)

In [35]:
co2_df = pd.read_csv('../data/raw/co-emissions-per-capita.csv')

In [38]:
co2_df.head()

        Entity Code  Year  Annual CO₂ emissions (per capita)
0  Afghanistan  AFG  1949                           0.001992
1  Afghanistan  AFG  1950                           0.010837
2  Afghanistan  AFG  1951                           0.011625
3  Afghanistan  AFG  1952                           0.011468
4  Afghanistan  AFG  1953                           0.013123

# GDP rate

In [56]:
import pandas as pd
import io

def load_problematic_csv(file_path):
    try:
        df = pd.read_csv(file_path, engine='python', on_bad_lines='skip')
        print("Successfully loaded with python engine and skipping bad lines")
        return df
    except Exception as e:
        print(f"Python engine attempt failed: {e}")
    
    # Second attempt - manually determine the correct number of columns
    try:
        # Read a small sample to determine the expected number of columns
        sample_df = pd.read_csv(file_path, nrows=1)
        num_columns = len(sample_df.columns)
        print(f"Detected {num_columns} columns in the first row")
        
        # Try loading again with a specific field count
        df = pd.read_csv(file_path, 
                          engine='c', 
                          on_bad_lines='skip',
                          low_memory=False)
        print("Successfully loaded with column specification")
        return df
    except Exception as e:
        print(f"Column specification attempt failed: {e}")
    
    # Third attempt - read line by line and manually construct DataFrame
    try:
        import csv
        rows = []
        max_columns = 0
        
        with open(file_path, 'r', newline='', encoding='utf-8') as f:
            reader = csv.reader(f)
            headers = next(reader)
            max_columns = len(headers)
            
            # Read all rows, keeping track of the maximum number of columns
            for row in reader:
                rows.append(row)
                max_columns = max(max_columns, len(row))
        
        # Pad all rows to have the same number of columns
        padded_rows = []
        for row in rows:
            if len(row) < max_columns:
                padded_row = row + [''] * (max_columns - len(row))
            else:
                padded_row = row[:max_columns]  # Truncate if too many columns
            padded_rows.append(padded_row)
        
        # Ensure headers has the right number of columns
        if len(headers) < max_columns:
            headers = headers + [f'Unknown_{i}' for i in range(len(headers), max_columns)]
        else:
            headers = headers[:max_columns]
            
        # Create DataFrame
        df = pd.DataFrame(padded_rows, columns=headers)
        print(f"Successfully loaded with manual parsing ({max_columns} columns)")
        return df
    except Exception as e:
        print(f"Manual parsing attempt failed: {e}")
        
    print("All loading methods failed")
    return None

# If you have a string instead of a file
def load_from_string(csv_string):
    # Create a file-like object
    csv_file = io.StringIO(csv_string)
    
    # Use the same function but pass the file-like object
    # We need to modify the function slightly
    try:
        # First attempt - using flexible python engine
        df = pd.read_csv(csv_file, engine='python', on_bad_lines='skip')
        print("Successfully loaded string data with python engine")
        return df
    except Exception as e:
        print(f"Python engine attempt failed: {e}")
        
        # Reset the file position for the next attempt
        csv_file.seek(0)
    
    
    print("All loading methods failed for string data")
    return None

gdp_df = load_problematic_csv("../data/raw/gdp.csv")

Successfully loaded with python engine and skipping bad lines

In [58]:
gdp_df.head()

,American Samoa,ASM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,0.965517241379317,0.409836065573771,-0.408163265306129,-4.09836065573771,1.85185185185186,Unnamed: 52
0,Burundi,BDI,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,-13.746135,9.063158,4.135407,6.273038,3.967226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Bahamas, The",BHS,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,10.667097,10.451972,10.524055,10.501567,10.425596,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Congo, Rep.",COG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,8.350727,5.202309,-4.029300,3.816796,3.676468,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cabo Verde,CPV,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,European Union,EUU,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,5.725675,5.695729,4.796875,5.963434,5.240974,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# power generation by type

In [43]:
power_generation_df = pd.read_csv("../data/raw/POWER GENERATION BY TYPE.csv", skiprows=5)  
power_generation_df.head()

,YEAR,HYDRO,FUEL OIL,LIGNITE,GAS,DIESEL,THERMAL,NRE*,IMPORTED,DEDP,SPP,IPP,VSPP,TOTAL
0,1986,"5,531.70","3,334.88","5,541.28","10,251.71",10.24,NaN,NaN,758.38,NaN,NaN,NaN,NaN,"25,428.19"
1,1987,"4,056.23","2,188.38","6,698.01","15,623.66",2.41,NaN,NaN,415.45,4.92,NaN,NaN,NaN,"28,989.06"
2,1988,"3,718.17","3,142.03","6,799.50","18,719.88",3.47,NaN,NaN,429.78,30.19,NaN,NaN,NaN,"32,843.02"
3,1989,"5,512.21","4,738.83","7,869.57","19,194.75",16.45,NaN,NaN,643.15,21.57,NaN,NaN,NaN,"37,996.53"
4,1990,"4,900.11","10,012.63","11,052.85","17,765.06",356.85,1.01,0.02,652.32,23.98,NaN,NaN,NaN,"44,764.83"

# Electricity consumption by whole country

In [66]:
electricity_consumption_df = pd.read_csv('../data/raw/T05_03_04-2 (2).csv', skiprows=3, skipfooter=4)

/tmp/ipykernel_1032890/1927585605.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  electricity_consumption_df = pd.read_csv('../data/raw/T05_03_04-2 (2).csv', skiprows=3, skipfooter=4)

In [68]:
electricity_consumption_df.head()

,Year,Residential,Business,Industrial,Government and Non-Profit,Agriculture,Other,Total,Free of Charge,Grand Total
0,2002,"21,963","19,268","52,965","3,635",192,"1,109","99,132",959,"100,091"
1,2003,"23,330","20,684","56,747","3,701",228,"1,214","105,903","1,084","106,987"
2,2004,"24,538","22,090","61,652","3,814",251,"1,572","113,917","1,184","115,101"
3,2005,"25,482","23,145","65,365","3,848",249,"1,885","119,976","1,264","121,240"
4,2006,"26,847","24,818","68,362","3,979",240,"2,097","126,343","1,536","127,879"

# PM 2.5

In [72]:
import requests
import json

API_KEY = "de06c48c-da34-406d-b8df-50e8564aa339"  # Replace with your actual API key

# Get nearest city data (useful for a specific location in Thailand)
def get_nearest_city_data(lat, lng):
    url = f"http://api.airvisual.com/v2/nearest_city?lat={lat}&lon={lng}&key={API_KEY}"
    response = requests.get(url)
    return response.json()

# Get data for a specific city in Thailand
def get_city_data(city, state, country="Thailand"):
    url = f"http://api.airvisual.com/v2/city?city={city}&state={state}&country={country}&key={API_KEY}"
    response = requests.get(url)
    return response.json()

# Get a list of all states in Thailand
def get_states_in_thailand():
    url = f"http://api.airvisual.com/v2/states?country=Thailand&key={API_KEY}"
    response = requests.get(url)
    return response.json()

# Get a list of cities in a specific state in Thailand
def get_cities_in_state(state, country="Thailand"):
    url = f"http://api.airvisual.com/v2/cities?state={state}&country={country}&key={API_KEY}"
    response = requests.get(url)
    return response.json()

# Example usage for Bangkok
bangkok_data = get_city_data("Bangkok", "Bangkok")
print(json.dumps(bangkok_data, indent=2))

if bangkok_data.get("status") == "success":
    pollution_data = bangkok_data["data"]["current"]["pollution"]
    pm25 = pollution_data.get("aqius")  # US AQI based on PM2.5
    pm25_concentration = pollution_data.get("pm25")  # Actual PM2.5 concentration in μg/m³
    
    print(f"Bangkok PM2.5 US AQI: {pm25}")
    if pm25_concentration is not None:
        print(f"Bangkok PM2.5 Concentration: {pm25_concentration} μg/m³")
    else:
        print("PM2.5 concentration data not available")

{
  "status": "success",
  "data": {
    "city": "Bangkok",
    "state": "Bangkok",
    "country": "Thailand",
    "location": {
      "type": "Point",
      "coordinates": [
        100.4888394,
        13.7292915
      ]
    },
    "current": {
      "pollution": {
        "ts": "2025-03-18T07:00:00.000Z",
        "aqius": 94,
        "mainus": "p2",
        "aqicn": 53,
        "maincn": "p1"
      },
      "weather": {
        "ts": "2025-03-18T07:00:00.000Z",
        "tp": 37,
        "pr": 1010,
        "hu": 47,
        "ws": 4.07,
        "wd": 184,
        "ic": "04d"
      }
    }
  }
}
Bangkok PM2.5 US AQI: 94
PM2.5 concentration data not available

# production index

The industrial production index (IPI) measures levels of production in the manufacturing, mining—including oil and gas field drilling services—and electrical and gas utilities sectors. It also measures capacity, an estimate of the production levels that could be sustainably maintained; and capacity utilization, the ratio of actual output to capacity.